<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
  <title>远诚宝路通物流</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <style>
  .print-view {
    height: 0px;
  }
  </style>
</head>
<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>
  <div class="print-view">
    <webview id="printOrderWebview" src="/print_order.html" nodeintegration style="visibility: hidden;"></webview>
    <webview id="printLabelWebview" src="/print_label.html" nodeintegration style="visibility: hidden;"></webview>
    <webview id="printWebview" src="/print.html" nodeintegration style="visibility: hidden;"></webview>
  </div>
  <script>
      const fs = window.require('fs');
      const { remote } = window.require("electron");
      const printOrderWebview = document.querySelector('#printOrderWebview')
      printOrderWebview.addEventListener('ipc-message', () => {
        if (event.channel === 'webview-print-do') {
          printOrderWebview.print({ silent: true, printBackground: true })
        }
      })

      const printLabelWebview = document.querySelector('#printLabelWebview')
      printLabelWebview.addEventListener('ipc-message', () => {
        if (event.channel === 'webview-print-do') {
          printLabelWebview.print({ silent: false, printBackground: true })
        }
      })

      const printWebview = document.querySelector('#printWebview')
      printWebview.addEventListener('ipc-message', () => {
        if (event.channel === 'webview-print-do') {
          printWebview.print({ silent: false, printBackground: true })
        }
        else if (event.channel === 'webview-print-pdf') {
          const pdfData = printWebview.printToPDF({ printBackground: true, pageSize: 'A4'}, function(error, data) {
            if (error) throw error;
            let curDate = new Date()
            let defaultFileName = `${curDate.getFullYear()}${curDate.getMonth()+1}${curDate.getDate()}${curDate.getTime()}.pdf`
            const fileName = remote.dialog.showSaveDialogSync(remote.getCurrentWindow(), {defaultPath: defaultFileName});
            fs.writeFile(fileName, data, function(error) {
                if (error)
                  throw error;
                console.log('success')
              })

          })
        }
      })
  </script>
</body>
</html>
