<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
  <title>远诚宝路通物流</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <style>
  .print-view {
    height: 0px;
  }
  </style>
</head>
<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>

  <div class="print-view">
    <div id="pdf-print"></div>
    <webview id="printOrderWebview" src="/print_order.html" nodeintegration style="visibility: hidden;"></webview>
    <webview id="printWebview" src="/print.html" nodeintegration style="visibility: hidden;"></webview>
    <webview id="printLabelWebview1" src="/print_label1.html" nodeintegration style="visibility: hidden;"></webview>
    <webview id="printLabelWebview2" src="/print_label2.html" nodeintegration style="visibility: hidden;"></webview>
    <webview id="printLabelWebview3" src="/print_label3.html" nodeintegration style="visibility: hidden;"></webview>
    <webview id="printLabelWebview4" src="/print_label4.html" nodeintegration style="visibility: hidden;"></webview>
    <webview id="printLabelWebview5" src="/print_label5.html" nodeintegration style="visibility: hidden;"></webview>
  </div>
  <script>
      const fs = window.require('fs');
      const { remote } = window.require("electron");

      const printOrderWebview = document.querySelector('#printOrderWebview')
      printOrderWebview.addEventListener('ipc-message', (event) => {
        if (event.channel === 'webview-print-do') {
          let deviceName = event.args[0]
          if(deviceName){
            printOrderWebview.print({ silent: true, printBackground: true, deviceName: deviceName })
          }
          else {
            printOrderWebview.print({ silent: true, printBackground: true })
          }
        }
      })

      const printLabelWebview1 = document.querySelector('#printLabelWebview1')
      printLabelWebview1.addEventListener('ipc-message', (event) => {
        let deviceName = event.args[0]
        console.log('label print deviceName:', deviceName)
        if (event.channel === 'webview-print-do') {
          printLabelWebview1.print({
            silent: true,
            printBackground: true,
            deviceName: deviceName || 'TSC_TTP_244CE'
          })
        }
      })

      const printLabelWebview2 = document.querySelector('#printLabelWebview1')
      printLabelWebview2.addEventListener('ipc-message', (event) => {
        let deviceName = event.args[0]
        if (event.channel === 'webview-print-do') {
          printLabelWebview2.print({
            silent: true,
            printBackground: true,
            deviceName: deviceName || 'TSC_TTP_244CE'
          })
        }
      })

      const printLabelWebview3 = document.querySelector('#printLabelWebview1')
      printLabelWebview3.addEventListener('ipc-message', (event) => {
        let deviceName = event.args[0]
        if (event.channel === 'webview-print-do') {
          printLabelWebview3.print({
            silent: true,
            printBackground: true,
            deviceName: deviceName || 'TSC_TTP_244CE'
          })
        }
      })

      const printLabelWebview4 = document.querySelector('#printLabelWebview1')
      printLabelWebview4.addEventListener('ipc-message', (event) => {
        let deviceName = event.args[0]
        if (event.channel === 'webview-print-do') {
          printLabelWebview4.print({
            silent: true,
            printBackground: true,
            deviceName: deviceName || 'TSC_TTP_244CE'
          })
        }
      })

      const printLabelWebview5 = document.querySelector('#printLabelWebview1')
      printLabelWebview5.addEventListener('ipc-message', (event) => {
        let deviceName = event.args[0]
        if (event.channel === 'webview-print-do') {
          printLabelWebview5.print({
            silent: true,
            printBackground: true,
            deviceName: deviceName || 'TSC_TTP_244CE'
          })
        }
      })

      const printWebview = document.querySelector('#printWebview')
      printWebview.addEventListener('ipc-message', (event) => {
        if (event.channel === 'webview-print-do') {
          printWebview.print({ silent: false, printBackground: true })
        }
        else if (event.channel === 'webview-print-pdf') {
          console.log('print pdf....')
          const pdfData = printWebview.printToPDF({ printBackground: true, pageSize: 'A4'}).then(function(data) {
            let curDate = new Date()
            let defaultFileName = `${curDate.getFullYear()}${curDate.getMonth()+1}${curDate.getDate()}${curDate.getTime()}.pdf`
            const fileName = remote.dialog.showSaveDialogSync(remote.getCurrentWindow(), {defaultPath: defaultFileName});
            fs.writeFile(fileName, data, function(error) {
                if (error)
                  throw error;
                console.log('success')
              })
          })
        }
      })
  </script>
</body>
</html>
