<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
  <title>远诚宝路通物流</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
</head>
<body>
  <noscript>Sorry, we need js to run correctly!</noscript>
  <div id="root"></div>
  <webview id="printOrderWebview" src="/print_order.html" nodeintegration style="visibility: hidden;"></webview>
  <webview id="printLabelWebview" src="/print_label.html" nodeintegration style="visibility: hidden;"></webview>
  <webview id="printWebview" src="/print.html" nodeintegration style="visibility: hidden;"></webview>
  <script>
      const printOrderWebview = document.querySelector('#printOrderWebview')
      printOrderWebview.addEventListener('ipc-message', () => {
        if (event.channel === 'webview-print-do') {
          printOrderWebview.print({ silent: true, printBackground: true })
        }
      })

      const printLabelWebview = document.querySelector('#printLabelWebview')
      printLabelWebview.addEventListener('ipc-message', () => {
        if (event.channel === 'webview-print-do') {
          printLabelWebview.print({ silent: true, printBackground: true })
        }
      })

      const printWebview = document.querySelector('#printWebview')
      printWebview.addEventListener('ipc-message', () => {
        if (event.channel === 'webview-print-do') {
          printWebview.print({ silent: true, printBackground: true })
        }
      })
  </script>
</body>
</html>
