html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;

  .ant-layout-header {
    height: 30px;
    line-height: 30px;
    .antd-pro-components-global-header-index-header {
      height: 30px;
      background: transparent;
      color: #fff;
    }
    .antd-pro-components-global-header-index-navbar {
      padding-left: 8px;
      color: #fff;
      vertical-align: top;
    }
  }
  .antd-pro-layouts-basic-layout-content {
    margin: 2px;
  }
  .ant-card-body {
    padding: 10px 15px;
  }
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol {
  list-style: none;
}
